.form2 {
    width: 150px !important;
    margin: 10px;
}

.form1 {
    width: 150px !important;
    margin: 10px;
}

.save-button {
    width: 100px;
    height: 40px;
    margin-top: 15px;
}

.mat-raised-button {
    float: bottom;
}

.h3-class {
    margin-top: 10px;
}

.divtitle {
    width: 40%;
    float: left;
}

.divform {
    width: 60%;
    float: left;
}

.divid {
    width: 100px;
    height: 70px;
    float: left;
    margin: 10px;
}

.divname {
    width: 336px;
    float: right;
    height: 70px;
    margin: 10px;
}